<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
</head>
<body>
    <div>
        <a href="{{ url_for('AdminUserDelete', id=user.id) }}"><button>Delete</button></a>
        <a href="{{ url_for('AdminUserEdit', id=user.id) }}"><button>Edit</button></a>
    </div>
    <h1>{{ user.username }}</h1>
    <p>{{ user.role }}</p>
    <h2>{{ company.name }}</h2>
    <p>Users: {{ company_users }}</p>
    <p>Yards: {{ company_yards }}</p>
</body>
</html>