<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    {% extends "bootstrap/base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block title%}
    Vehicle
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="nav-cont">
        <ul class="nav-options">
            <li class="nav-option">
                <a class="" href="{{ url_for('Dashboard') }}">Dashboard</a>
            </li>
            {% if current_user.role == 0 %}
            <li class="nav-option">
                <a class="" href="{{ url_for('AdminUsers') }}">User management</a>
            </li>
            <li class="nav-option">
                <a class="" href="{{ url_for('AdminVehicles') }}">Vehicle management</a>
            </li>
            {% endif %}
            <li class="nav-option">
                <a class="" href="{{ url_for('Home') }}">Logout</a>
            </li>
        </ul>
    </nav>
    {% endblock %}

    {% block content %}
    <a href="{{url_for('EditVehicle', id=vehicle.id)}}">
        <button class="btn btn-primary">Edit</button>
    </a>
    <a href="{{url_for('DeleteVehicle', id=vehicle.id)}}">
        <button class="btn btn-danger">Delete</button>
    </a>
    <ul class="list-group">
        <li class="list-group-item">{{ vehicle.vin }}</li>
        <li class="list-group-item">{{ vehicle.make }}</li>
        <li class="list-group-item">{{ vehicle.model }}</li>
        <li class="list-group-item">{{ vehicle.variant }}</li>
        <li class="list-group-item">{{ vehicle.colour }}</li>
    </ul>
    {% endblock %}
</body>
</html>